body{
    background-color: black

}

h3{
    color: white
}

h2{
    color: white;
}

.svg1{
    border-radius: 50px;
    background-color: whitesmoke;
   width: 370px;
}
.svg2{
    border-radius: 50px;
    background-color: whitesmoke;
   width: 370px;
}
.svg3{
    border-radius: 50px;
    background-color: whitesmoke;
   width: 370px;
}
.svg4{
    border-radius: 50px;
    background-color: whitesmoke;
   width: 370px;
}